.form {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
}
span {
  font-size: small;
  color: darkred;
}
input {
  margin: 0.1rem;
}
select {
  margin: 0.1rem;
}
button {
  margin: 0.1rem;
}
