<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form">
    <label for="firstName">First name: </label>
    <input id="firstName" formControlName="firstName" required placeholder="First Name">
    <label for="lastName">Last name: </label>
    <input id="lastName" formControlName="lastName" required placeholder="Last Name">
    <label for="date">Date of birth: </label>
    <input id="date" type="date" formControlName="dateOfBirth" required placeholder="First Name">
    <label for="framework">Framework: </label>
    <select id="framework" formControlName="framework" #framework required (change)="changeSelect()">
      <option value="" selected></option>
      <option *ngFor="let f of frameworks">{{f}}</option>
    </select>
    <label *ngIf="framework.value" for="frameworkVersion">Framework version: </label>
    <select *ngIf="framework.value" id="frameworkVersion" formControlName="frameworkVersion" required>
      <option value="" selected></option>
      <option *ngFor="let v of versions[framework.value]" [value]="v">{{v}}</option>
    </select>
    <label for="email">Email: </label>
    <input id="email" type="email" formControlName="email" required placeholder="Email">
    <br>
    <span *ngIf="form.controls['email'].touched && form.controls['email'].invalid">{{getError(form.controls['email'])}}</span>
  </div>
  <button type="button" (click)="addHobby()">Add hobby</button>
  <ng-container formArrayName="hobby">
    <ng-container *ngFor="let hobbyForm of hobby.controls; let i = index">
      <form [formGroup]="hobbyForm" style="display: flex">
        <input formControlName="name" required placeholder="Name">
        <input formControlName="duration" required placeholder="Duration">
        <button (click)="deleteHobby(i)">Remove hobby</button>
      </form>
    </ng-container>
  </ng-container>
  <button style="display: block" type="submit" [disabled]="form.invalid || validating">Submit</button>
</form>
